/*====================================== COMMON */

@import url('https://fonts.googleapis.com/css?family=Anton:100,200,300,400,500,600,700');

html,body{
    box-sizing: border-box;
    /* http://www.ourownthing.co.uk/gradpad.html#. Use this tool to define the linear gradient for the background of the site*/
    background-image: linear-gradient(90deg, rgba(240, 215, 117,1) 20.09375%,rgba(239, 214, 116,1) 20.09375%,rgba(103, 163, 107,1) 80.09375%)
}
header > div{
    display: inline-block;
}

.header-text {
    color: #e4420f;
    font-family: Anton, sans-serif}
.header-title{
    font-size: 8vh;
    text-transform: uppercase}
.header-moto{
    font-size: 5vh;
    font-style: italic;
    text-transform: capitalize
}
.navbar-toggler-icon{
    display: block;
    width: 6vh;
    height: 1vh;
    margin: 1vh;
    background-color: #0f0f0f
}
